
\.idea/workspace\.xml

\.idea/uiDesigner\.xml

\.idea/
\.idea/vcs\.xml
\.gradle/4\.10\.3/fileContent/


\.idea/libraries/

\.idea/modules/

\.gradle/buildOutputCleanup/

\.gradle/4\.10\.3/taskHistory/

\.gradle/4\.10\.3/javaCompile/

*.bin
